<header>

    <img src="assets/images/logo.jpg" class="logo">

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">☰</label>

    <nav>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>

            <li class="dropdown">
                <a>Events</a>
                <ul class="dropdown-menu">
                    <li><a href="#page-categories">Browse All</a></li>
                    <li><a href="#page-highlights">Gallery</a></li>
                    <li><a href="#page-faqs">FAQs</a></li>
                </ul>
            </li>

            <li><a href="#page-about">About</a></li>
            <li><a href="#register">Register</a></li>
        </ul>
    </nav>

</header>