body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f1f1;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 350px;
  height: 500px;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.chat-header {
  background: #222;
  color: #fff;
  padding: 12px;
  text-align: center;
  font-weight: bold;
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  max-width: 70%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
}

.user {
  background: #d1e7ff;
  margin-left: auto;
  text-align: right;
}

.bot {
  background: #e5e5e5;
  margin-right: auto;
}

.time {
  font-size: 10px;
  margin-top: 4px;
  opacity: 0.6;
}

.input-area {
  display: flex;
  border-top: 1px solid #ddd;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

button {
  padding: 10px 15px;
  border: none;
  background: #222;
  color: white;
  cursor: pointer;
}